

*   Single line Comments and Multi line Comments
*   Definition of Syntax and Semantics

*   Basic Syntax and semantics in Python

In [14]:


## single line comment
'''
multiple line comment
multiple line comment
'''

'''
syntax :  the rules that control the structure of the symbols,
punctuation, and words of a programming language

semantic : It refers to the meaning associated with the statement in a programming language.
It is all about the meaning of the statement which interprets the program easily.

SyntaxError: incomplete input (<ipython-input-14-58c20cb2f12d>, line 7)

In [4]:
# Case Sensitivity
name = "Ahmet"
Name = "Emin"

print(name)
print(Name)

Ahmet
Emin

In [6]:
#Python uses indentation to define blocks of code. Consistent use of spaces(commonly 4) or a tab is required.
number = 10
if number % 2 == 0:
    print("even")
else:
    print("odd")

even

In [7]:
# Line Continuation
total = 1 + 2 + 3 + \
+ 4
print(total)

10

In [8]:
# Multiple Statements on a single line
x=5;y=1;z=x+y
print(z)

6

In [10]:
# Semantics In Python
# Dynamic typing
age = 32 # age is an integer
name = "Ahmet" # name is string
type(age)

int

In [11]:
type(name)

str

In [12]:
## Type Inference
variable = 1
print(type(variable))
variable = "Ahmet"
print(type(variable))

<class 'int'>
<class 'str'>

In [13]:
## Code examples of indentation
if True:
    print("Correct Indentation")
    if False:
        print("This wont print")
    print("print")
print("print")

Correct Indentation
print
print