Naming Conventions


*   Variable names should be descriptive
*   Must start with a letter or and '_' and contains


*   Variable names case sensitive



letter, numbers and underscores

In [1]:
# Introduction to Variables

In [5]:
age =  #int
age = 12.0 #float
name = "Ahmet" # string
is_collision = True # boolean
number = float('inf') # infinite number

In [15]:
age_str = str(age)
print(type(age_str))
age_float = float(age_str)
print(type(age_float))

<class 'str'>
<class 'float'>

In [6]:
print(number)

inf

In [10]:
# Wrong variable names
@name = "Ahmet"
first-name = "Ahmet"
1name = "ahmet"
123 = "ahmet"

SyntaxError: invalid decimal literal (<ipython-input-10-39378eee6361>, line 4)

In [17]:
age = input("Enter your age: ")
print(age,type(age))

Enter your age: 8
8 <class 'str'>

In [19]:
age = int(age)
print(age,type(age))

8 <class 'int'>

In [21]:
number1 = 5
number2 = 10
sum = number1 + number2
difference = number1 - number2
product = number1 * number2
quotient = number1 / number2

print("sum:",sum)
print("difference:",difference)
print("product:",product)
print("quotient:",quotient)

sum: 15
difference: -5
product: 50
quotient: 0.5