Data Structures

*   Lists
*   Tuples
*   Sets
*   Dictionaries

In [1]:
list = [1,2,3,4,5]
print(list)
print(type(list))

[1, 2, 3, 4, 5]
<class 'list'>

In [2]:
names = ["Ahmet", "123", "Emin"]
print(names)

['Ahmet', '123', 'Emin']

In [3]:
mixed_list = [1, "Helloworld", 3.14, True]
print(mixed_list)
print(type(mixed_list))

[1, 'Helloworld', 3.14, True]
<class 'list'>

In [33]:
# Accesing List Elements
fruits = ["Apple", "Banana", "Tomato", "Portugal", "Kiwi", "Watermelon"]
print(fruits[0])
print(fruits[3])
print(fruits[-1]) # similar doubly linked list

Apple
Portugal
Watermelon

In [5]:
print(fruits[1:])
print(fruits[1:3]) # start, end,
print(fruits[-1:])
print(fruits[-3:])

['Banana', 'Tomato', 'Portugal', 'Kiwi', 'Watermelon']
['Banana', 'Tomato']
['Watermelon']
['Portugal', 'Kiwi', 'Watermelon']

In [6]:
fruits[1:] = "Watermelon"

In [7]:
fruits

['Apple', 'W', 'a', 't', 'e', 'r', 'm', 'e', 'l', 'o', 'n']

In [8]:
fruits = ["Apple", "Banana", "Tomato", "Portugal", "Kiwi", "Watermelon"]

In [9]:
fruits.append("Orange")

In [10]:
fruits

['Apple', 'Banana', 'Tomato', 'Portugal', 'Kiwi', 'Watermelon', 'Orange']

In [11]:
fruits.insert(1,"Strawberry") # add to specific index

In [12]:
fruits

['Apple',
 'Strawberry',
 'Banana',
 'Tomato',
 'Portugal',
 'Kiwi',
 'Watermelon',
 'Orange']

In [13]:
fruits.remove("Banana")

In [14]:
fruits

['Apple', 'Strawberry', 'Tomato', 'Portugal', 'Kiwi', 'Watermelon', 'Orange']

In [15]:
popped_fruits = fruits.pop()

In [16]:
print(popped_fruits)

Orange

In [17]:
fruits.index("Tomato")

2

In [18]:
fruits.insert(2,"Banana")

In [20]:
fruits.count("Banana")

1

In [25]:
print(fruits)
fruits.reverse() #reverse the list

['Apple', 'Strawberry', 'Banana', 'Tomato', 'Portugal', 'Kiwi', 'Watermelon']

In [26]:
fruits

['Watermelon', 'Kiwi', 'Portugal', 'Tomato', 'Banana', 'Strawberry', 'Apple']

In [27]:
fruits.clear() # Removes all items in the list

In [ ]:
# Slicing Lists

In [30]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print(numbers[2:5])
print(numbers[:5])
print(numbers[5:])
print(numbers[::2])
print(numbers[::-1]) # start, end, step

[3, 4, 5]
[1, 2, 3, 4, 5]
[6, 7, 8, 9]
[1, 3, 5, 7, 9]
[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [39]:
## Iterating Over List

for index,number in enumerate(numbers):
    print(f"{index}. = {number}")

0. = 1
1. = 2
2. = 3
3. = 4
4. = 5
5. = 6
6. = 7
7. = 8
8. = 9

In [40]:
# List comprehension
lst = []
for x in range(5):
    lst.append(x**2)
print(lst)

[0, 1, 4, 9, 16]

In [43]:
lst = [x**2 for x in range(10)]
lst

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

Basic syntax [expression for item in iterable]

with conditional logic [expression for item in iterable if condition]

In [46]:
square = [x*2 for x in range(10) if x % 2 == 1]
square

[2, 6, 10, 14, 18]

In [47]:
lst1 = [1,2,3,4]
lst2 = ['a', 'b', 'c', 'd']

In [48]:
pair = [[i,j] for i in lst1 for j in lst2]

In [49]:
pair

[[1, 'a'],
 [1, 'b'],
 [1, 'c'],
 [1, 'd'],
 [2, 'a'],
 [2, 'b'],
 [2, 'c'],
 [2, 'd'],
 [3, 'a'],
 [3, 'b'],
 [3, 'c'],
 [3, 'd'],
 [4, 'a'],
 [4, 'b'],
 [4, 'c'],
 [4, 'd']]

In [50]:
words = ["hello", "world", "python", "list", "comprehension"]
lengths = [len(word) for word in words]
print(lengths)

[5, 5, 6, 4, 13]