1. Tuples
2. Creating - Acesing - Operations - Immuatble Nature of Tuples

3. Tuple Methods - Packing and Unpacking Tuples - Nested Tuples

Tuples are ordered collections of items that are immutable. They are imilar to lists but their immutability makes them differen

In [2]:
## creating tuple
tpl = ()
print(tpl)
print(type(tpl))

()
<class 'tuple'>

In [3]:
lst = list()
print(type(lst))
tpl = tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [11]:
numbers = tuple([1,2,3,4,5,6])
print(numbers)
print(type(numbers))

(1, 2, 3, 4, 5, 6)
<class 'tuple'>

In [9]:
numbers = list((1,2,3,4,5,6))
print(numbers)
print(type(numbers))

[1, 2, 3, 4, 5, 6]
<class 'list'>

In [13]:
mixed_tuple = (1,"helloworld", 3.14, True)
mixed_tuple

(1, 'helloworld', 3.14, True)

In [15]:
numbers

(1, 2, 3, 4, 5, 6)

In [16]:
numbers[0]

1

In [17]:
numbers[-1]

6

In [18]:
numbers[:3]

(1, 2, 3)

In [20]:
numbers[0:5]

(1, 2, 3, 4, 5)

In [21]:
numbers[::-1] # start, end, step

(6, 5, 4, 3, 2, 1)

In [22]:
concatenation_tuple = numbers + mixed_tuple
print(concatenation_tuple)

(1, 2, 3, 4, 5, 6, 1, 'helloworld', 3.14, True)

In [24]:
mixed_tuple * 3

(1,
 'helloworld',
 3.14,
 True,
 1,
 'helloworld',
 3.14,
 True,
 1,
 'helloworld',
 3.14,
 True)

In [28]:
# Immutable Natura of Tuples
# Tuples are immutable, meaning their elements cannot be changed once assigned.
lst = [1,2,3]
print(lst)
lst[1] = 5
print(lst)

[1, 2, 3]
[1, 5, 3]

In [34]:
tpl = (1,2,3,4,5,6,7)
tpl[1] = 5 # tuples are immutable

TypeError: 'tuple' object does not support item assignment

In [39]:
print(tpl.count(1))
print(tpl.index(1))

1
0

In [40]:
# packing tuple
packed_tuple = 1,"hello",3.14
print(packed_tuple)
print(type(packed_tuple))

(1, 'hello', 3.14)
<class 'tuple'>

In [42]:
## unpacking tuple
a,b,c = packed_tuple
print(a)
print(b)
print(c)

1
hello
3.14

In [43]:
# Unpacking with *
numbers = (1,2,3,4,5,6)
a,b,*c = numbers # 1 element, 2 element, rest of the elements*
print(a)
print(b)
print(c)

1
2
[3, 4, 5, 6]

In [45]:
## Nested list
lst = [[1,2,3,4],[5,6,7,8],[9,"hello",3.14, True]]
lst[0][0:2]

[1, 2]

In [46]:
#nested tuple
nested_tuple = ((1,2,3), ("a", "b", "c"), (True, False))

print(nested_tuple[0])
print(nested_tuple[1][2])

(1, 2, 3)
c

In [48]:
for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item)

1
2
3
a
b
c
True
False