Dictionaries
1. Creating
2. Accesing
3. Modifying
4. Dicionary Methods
5. Iterating over dictionaries
6. Nested DictioÄ±naries
7. Dictionary Comprehensions

In [1]:
##Creating Dictionaries
empty_dict = {}
print(type(empty_dict))

<class 'dict'>

In [2]:
empty_dict = dict()
empty_dict

{}

In [23]:
student = {"name": "Ahmet", "age": 23, "grade": 24}
print(student)
print(type(student))

{'name': 'Ahmet', 'age': 23, 'grade': 24}
<class 'dict'>

In [24]:
# Error
student = {"name": "Ahmet", "age": 23, "name": 24}
print(student)

{'name': 24, 'age': 23}

In [25]:
## Accesing Dictionary Elements
student = {"name": "Ahmet", "age": 23, "grade": 'AA'}
print(student["name"])

Ahmet

In [26]:
print(student['age'])

23

In [27]:
print(student.get('grade'))

AA

In [28]:
# Accesing using get() method
print(student.get('grade'))
print(student.get('last_name'))
print(student.get('last_name', 'Not Found'))

AA
None
Not Found

In [29]:
# Modifying Dictionary Elements
# Dictionary are mutable. So you can, add, update or delete elements

In [30]:
print(student)

{'name': 'Ahmet', 'age': 23, 'grade': 'AA'}

In [31]:
student['name'] = 'Ali'
student['addresss'] = 'Turkey'
print(student)

{'name': 'Ali', 'age': 23, 'grade': 'AA', 'addresss': 'Turkey'}

In [32]:
del student['grade']
print(student)

{'name': 'Ali', 'age': 23, 'addresss': 'Turkey'}

In [35]:
## Dictionary Methods
keys = student.keys()
print(keys)
print(type(keys))
values = student.values()
print(values)
print(type(values))

dict_keys(['name', 'age', 'addresss'])
<class 'dict_keys'>
dict_values(['Ali', 23, 'Turkey'])
<class 'dict_values'>

In [38]:
items = student.items() # get all key value pairs
print(items)

dict_items([('name', 'Ali'), ('age', 23), ('addresss', 'Turkey')])

In [40]:
# copy
student_copy = student
print(student_copy)

{'name': 'Ali', 'age': 23, 'addresss': 'Turkey'}

In [42]:
student['name'] = 'Ahmet' # copy changes too
print(student)
print(student_copy)

{'name': 'Ahmet', 'age': 23, 'addresss': 'Turkey'}
{'name': 'Ahmet', 'age': 23, 'addresss': 'Turkey'}

In [44]:
student_copy1 = student.copy() # use .copy() to avoid problem
print(student_copy1)
print(student)

{'name': 'Ahmet', 'age': 23, 'addresss': 'Turkey'}
{'name': 'Ahmet', 'age': 23, 'addresss': 'Turkey'}

In [45]:
student["name"] = "Alp"
print(student)
print(student_copy1)

{'name': 'Alp', 'age': 23, 'addresss': 'Turkey'}
{'name': 'Ahmet', 'age': 23, 'addresss': 'Turkey'}

In [48]:
# Iterating Over Dictionaries
# You can use loops to iterate over dictionaries, keys, values or items
for key in student.keys():
    print(key)

name
age
addresss

In [51]:
# Iterating over values
for keys in student.values():
    print(keys)

Alp
23
Turkey

In [55]:
for key, value in student.items():
    print(f"{key}: {value}")

name: Alp
age: 23
addresss: Turkey

In [57]:
students = {
    "student1": {"name":"Ahmet","age":23,},
    "student2": {"name":"Ali","age":24,}
}

In [58]:
print(students)

{'student1': {'name': 'Ahmet', 'age': 23}, 'student2': {'name': 'Ali', 'age': 24}}

In [61]:
print(students["student2"]["name"])
print(students["student2"]["age"])

Ali
24

In [63]:
for student_id, student_info in students.items():
    print(f"{student_id}: {student_info}")
    for key, value in student_info.items():
        print(f"{key}: {value}")

student1: {'name': 'Ahmet', 'age': 23}
name: Ahmet
age: 23
student2: {'name': 'Ali', 'age': 24}
name: Ali
age: 24

In [65]:
## Dictionary Comprehension

squares = {x: x**2 for x in range(5)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [69]:
## Condition dictionary comprehension
evens = {x: x**2 for x in range(1, 10) if x%2 == 0}
print(evens)

{2: 4, 4: 16, 6: 36, 8: 64}

In [70]:
numbers = [1,2,2,3,3,3,4,4,4,4]
frequency = {}
for number in numbers:
    if number not in frequency:
        frequency[number] = 1
    else:
        frequency[number] += 1
print(frequency)

{1: 1, 2: 2, 3: 3, 4: 4}

In [71]:
dict1 = {"a":1, "b":2}
dict2={"b":3,"c":4}
merged_dict = {**dict1, **dict2}
print(merged_dict)

{'a': 1, 'b': 3, 'c': 4}